.login {
	align-items: center;
	background: lightgrey;
	display: flex;
	height: 100%;
	justify-content: center;
	transform-origin: bottom;
	width: 100%;

	&__box {
		background: white;
		border-radius: 2rem;
		box-shadow: .5rem .5rem .5rem darkgray;
		display: flex;
		height: 80%;
		overflow: hidden;
		width: 80%;

		animation-name: swipup;
		animation-duration: 1s;
	}

	&__panel {
		align-items: center;
		display: flex;
		justify-content: center;
		overflow: hidden;
		width: 100%;

		& img {
			min-height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	&__form {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding: 4rem;
		width: 100%;
	}

	&__title {
		font-size: 5rem;
		color: var(--primary);
		height: 5rem;
		margin: 2rem;
	}
	
	&__input {
		margin: 1rem 0;
		position: relative;
		width: 100%;

		& input {
			border: 1px solid var(--primary);
			border-radius: .5rem;
			height: 6rem;
			padding: 3rem 1rem 1rem 1rem;
			width: 100%;

			&::placeholder {
				color: lightgrey;
			}
		}

		& label {
			color: var(--primary);
			font-size: 1.5rem;
			left: 1rem;
			position: absolute;
			top: 1rem;
		}
	}

	&__button {
		display: flex;
		justify-content: flex-end;
		margin: 1rem 0;
		height: 5rem;
		width: 100%;

		& button {
			background: var(--primary);
			border: none;
			border-radius: .5rem;
			color: whitesmoke;
			font-size: 1.5rem;
			text-transform: capitalize;
			padding: 1rem;
			width: 100%;
		}
	}
	
	&__logo {
		display: flex;
		justify-content: center;

		& img {
			width: 7rem;
		}
	}

	&__error {
		color: red;
		display: flex;
		font-size: 1.2rem;
		justify-content: flex-end;
		width: 100%;
	}
}

@keyframes swipup {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	60% {
		opacity: .4;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}